# More information at http://EditorConfig.org

root = true

[**]
# Ensure UTF-8 encoding
charset = utf-8

# Indentation style
indent_style = space
indent_size = 2

# EOL settings
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
